# App
NODE_ENV=development
APP_URL=http://localhost:3000
TZ=Asia/Jakarta

# Database / cache
DATABASE_URL=postgres://simklinik:simklinik@localhost:15432/simklinik
REDIS_URL=redis://localhost:6379

# Auth (generate: openssl rand -base64 48)
JWT_ACCESS_SECRET=change-me-min-32-chars-please-change-me
JWT_REFRESH_SECRET=change-me-different-min-32-chars-pls
DATA_ENCRYPTION_KEY=change-me-base64-32-bytes-aes-256-key

# Observability
LOG_LEVEL=info
SENTRY_DSN=

# SATUSEHAT (sandbox)
SATUSEHAT_BASE_URL=https://api-satusehat-dev.dto.kemkes.go.id
SATUSEHAT_AUTH_URL=https://api-satusehat-dev.dto.kemkes.go.id/oauth2/v1/accesstoken
SATUSEHAT_CLIENT_ID=
SATUSEHAT_CLIENT_SECRET=
SATUSEHAT_ORG_ID=

# BPJS PCare (sandbox)
BPJS_PCARE_BASE_URL=https://dvlp.bpjs-kesehatan.go.id:9081
BPJS_PCARE_SERVICE=pcare-rest-v3.0
BPJS_CONS_ID=
BPJS_CONS_SECRET=
BPJS_PCARE_USER_KEY=
BPJS_PCARE_USERNAME=
BPJS_PCARE_PASSWORD=
BPJS_PCARE_APP_CODE=095
